@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box; 
    margin:0; padding:0;
}

:root {
    --color-light-50: #f8fafc;
    --color-light-900: #ffffff;

    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000; 

    --color-purple-50: #7c3aed; 
    --color-purple-100: #a855f7;
    --color-purple-200: #bf46ef;

    --color-gradient: linear-gradient(
  to right,#7c3aed,#a855f7,#bf46ef);
}

html {
    width: 100%;
    height: 100vh;
    font-size: 10px;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    user-select: none; 
    background: var(--color-gradient);
}

#login-form {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 40px 30px;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.336);
    background-color: var(--color-light-50);
}

#form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form-header h1 {
    font-size: 40px;
    font-weight: 500;
    position: relative;
}

#form-header h1::before {
    position: absolute;
    bottom: 10px;
    content: "";
    width: 40%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--color-purple-50);
}

#mode-icon {
    font-size: 25px;
    cursor: pointer;
}

#social-media {
    display: flex;
    justify-content: space-around;
}

#social-media img {
    width: 35px;
    transition: 0.35s;
}

#social-media img:hover {
    transform: scale(1.2);
}

#inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#input-box label {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-dark-50);
}

#input-box i {
    font-size: 13px;
    padding-right: 12px;
    color: var(--color-dark-100)
}

#input-field {
    padding: 3px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-purple-50);
}

#input-field input {
    border: none;
    width: 220px;
    font-size: 14px;
    background-color: transparent;
}

#input-field input:focus {
    outline: none;
}

#forgot-password a {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 12px;
    color: var(--color-dark-50);
    transition: 0.1s;
}

#forgot-password a:hover {
    color: var(--color-purple-50);
}

#login-button {
    width: 100%;
    height: 5vh;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: var(--color-light-50);
    background: var(--color-gradient);
    transition: 0.15s;
}

#login-button:active {
    transform: scale(0.96);
}